<div ng-controller="userController as UC">
    <a href="#!/polls/new">Create a New Poll</a>
    <button ng-click="UC.logout()">Logout</button>
    <h1>Current Polls:</h1>
    <form>
        <input type="text" placeholder="Search Polls" ng-model="survey_search">
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Survey Question</th>
                <th>Date Posted</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="poll in PC.polls | filter: survey_search">
                <td>{{ poll.author.name }}</td>
                <td><a href="#!/polls/{{ poll._id }}">{{ poll.question }}</a></td>
                <td>{{ poll.updatedAt | date: yyyy/MM/dd }}</td>
                <td><button ng-if="PC.user == poll.author._id" ng-click="PC.destroy(poll._id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>