<div class="container">
    <!-- Displays errors if anything went wrong during login or registration -->
    <p ng-if="UC.logged_errors">{{ UC.logged_errors }}</p>
    <!-- Section and form for registering a new user -->
    <div class="card-panel grey lighten-3">
        <h2>Register</h2>
        <form ng-submit="UC.create(UC.newUser, UC.password_confirm)">
            <p><label>Name</label>
            <input type="text" ng-model="UC.newUser.name"></p>
            <p><label>Email</label>
            <input type="email" ng-model="UC.newUser.email"></p>
            <p><label>Password</label>
            <input type="password" ng-model="UC.newUser.password"></p>
            <p><label>Confirm Password</label>
            <input type="password" ng-model="UC.password_confirm"></p>
            <input type="submit" class="btn waves-effect waves-light blue darken-3" name="submit" value="Register">
        </form>
    </div>
    <!-- Section and form for logging in an existing user -->
    <div class="card-panel grey lighten-3">
        <h2>Login</h2>
        <form ng-submit="UC.login(UC.loggedUser)">
            <p><label>Email</label>
            <input type="email" ng-model="UC.loggedUser.email"></p>
            <p><label>Password</label>
            <input type="password" ng-model="UC.loggedUser.password"></p>
            <input type="submit" class="btn waves-effect waves-light blue darken-3" name="submit" value="Login">
        </form>
    </div>
</div>