<div ng-controller="userController as UC" ng-init="PC.show()">
    <a href="#!/polls">Go To Polls</a>
    <h2>{{ PC.poll.question }}</h2>
    <p>by {{ PC.poll.author.name }}</p>
    <h5>Click the vote button to choose one</h5>
    <table>
        <thead>
            <tr>
                <th>Option</th>
                <th>Current Votes</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="options in PC.poll.options">
                <td>{{ options.option }}</td>
                <td>{{ options.vote }}</td>
                <td>
                    <button ng-click="PC.vote(options)">Vote</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>